.photo {
    margin-top:2em;
    img {
        border-top-left-radius: 70% 50%;
        border-top-right-radius: 70% 50%;
        border-bottom-right-radius: 70% 50%;
        border-bottom-left-radius: 70% 50%;
    }   

}