// https://coolors.co/3d5a80-fef8ec-c6d8d3-ee6c4d-a7754d
$eggshell: #f4f1deff;
$bdazzled-blue: #3d5a80ff;
$pale-cerulean: #98c1d9ff;
$light-cyan: #e0fbfcff;
$burnt-sienna: #cf5e42;
$gunmetal: #293241ff;
$papaya-whip: #fef8ec;
$opal: #c6d8d3ff;
$cafe-au-lait: #a7754dff;

$mobile-cutoff:700px;


body {
  margin: 0 auto;
  background:$papaya-whip;
}

a {
    color:$burnt-sienna;

    &:hover {
        color:$bdazzled-blue;
    }
}
h1,h2,h3,h4,h5,h6 {
    color:$gunmetal;
    font-family: 'Bitter', serif;
}

.grid {
  display: grid;
  /* each value is a column */
  grid-template-columns: 10% auto 10%;
  /* header, content, footer height */
  grid-template-rows:12% auto 10%;
  width: 100vw;
  height: 100vh;

  @media all and (max-width: $mobile-cutoff) {
    grid-template-rows:30% auto 16%;
  }
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  .content {
    grid-column: 1 / 3;
  }
}

header,
.content,
footer {
  align-items: center;
  padding:0 1em;
}
.content {
    align-items:start;
}

header {
    background:$bdazzled-blue;
    display: grid;
    grid-template-columns: 12% auto 30%;
    grid-column-gap: 1%;

    .site-info {
      font-size:1.2em;
      margin-left:2em;
    }
    .navigation {
      a {
        padding:.5rem .9rem;

        &:last-child{
            margin-right:0;
        }
      }
    }
    

    a {
        color:$eggshell;
        border-bottom:3px solid $bdazzled-blue;
        -webkit-transition: border 200ms ease-out;
        -moz-transition: border 200ms ease-out;
        -o-transition: border 200ms ease-out;
        transition: border 200ms ease-out;
        text-decoration:none;

        &:hover {
            color:$pale-cerulean;
            border-bottom:3px solid $burnt-sienna;
        }
    }

    @media all and (max-width: $mobile-cutoff) {
        grid-template-columns: 100%;
        padding-bottom:1em;

        .site-info,
        .navigation,
        .search {
            margin:0.5em 0;
            width:100%;
        }

        .navigation a:first-child {
            padding-left:0;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap:10%;
    grid-column:2/3;
    grid-column-gap: 1%;
    margin-bottom:4em;

    img {
      max-width:100%;
    }

    @media all and (max-width: $mobile-cutoff) {
      grid-column:1/2;

        article,
        aside {
            margin:4em 0;
        }
    }
}

footer {
    line-height:35px;
    background:$bdazzled-blue;
    padding:6px 15px;
    color:$eggshell;
    display: grid;
    grid-template-columns: 12% auto;
    grid-column-gap: 1%;

    a {
        width:30px;
        display:inline-block;
        height:auto;
        margin-left:15px;
        color:$eggshell;
    
        &:hover {
            color:$pale-cerulean;
        }

        &:first-child {
            margin-left:0;
        }
    }

    small {
        font-size:10px;
    }
    .contact {
      text-align:right;
    }
    @media all and (max-width: $mobile-cutoff) {
      & {
        grid-template-columns: 50% 50%;
      }
    }
}

.post_content img {
    display:block;
    margin:10px 0;
    border:2px solid #ccc;
}
.post_content ol {
    padding-left:20px;
}
.post_content pre div {
    border-radius:4px;
}
.post_content code {
    background:#eee;
    border-radius:4px;
    padding:2px;
}
.post_content h2 {
  margin-top:2em;
  margin-bottom:0;
}
.post_content h3 {
  margin-top:1.5em;
  margin-bottom:0;
  color:#33673B;
}
.post_content h3 + p,
.post_content h2 + p {
    margin-top:0;
}